.coursedetails-side-nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(255, 255, 255);;
    
  }
  .coursedetails-maincontainer {
    height: 100vh;
    background-color: rgb(247,249,252);
    justify-content: center;
  }
  
  .coursedetails-detailscontainer {
    display: flex;
    margin-top: 40px;
    background-color: rgb(247,249,252);
    margin-left: 0px;
    width: calc(100% - 125px);
    flex: 1;
    align-items: flex-start;
    justify-content: center;
  }
  
  
  .coursedetails-details {
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  
  .coursedetails-heading {
    font-size: 1.5rem;
    margin-top: 0;
    margin-bottom: 20px;
  }
  .coursedetails-backicon{
      display: flex;
      position: fixed;
      bottom: 15px;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .coursedetails-button {
    align-items: first baseline;
    font-size: 16px;
    padding: 8px 18px;
    background-color: #0a84ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    margin-left: 10px;
    
  }
  
  .coursedetails-button:hover {
    background-color: #0066cc;
  }
  
  .coursedetails-delbutton {
    background-color: #f00a0ad6;
    color: white;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  
  .coursedetails-delbutton:hover {
    opacity: 0.8;
    background-color: #ff0000;
  }
  @media only screen and (min-width:600px) {
    .coursedetails-maincontainer{
      margin-left: 125px;
                                           
    }
  }