.dashboard-container {
    display: flex;
    background-color: rgb(247,249,252);
    align-items: flex-start;
    justify-content: flex-start;
    height: 100vh;
    
  }
  
  
  .content-container {
    display: flex;
    justify-content: center;
    flex: 1;
    margin-top: 15px;
    background-color: rgb(247,249,252);
    width: calc(100% - 125px);
  }
  
  .dashboard-side-nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    
  }
  @media only screen and (min-width:660px) {
    .dashboard-container {
      margin-left: 125px;
    }
  }