.navbar-container {

    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-items: flex-end;
    align-items: center;
    justify-content: flex-end;
    flex-direction: row;
  
  }
  
  .navbar-searchcontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    border-radius: 5px;
    background-color: rgb(226, 232, 232);
    border: none;
    box-shadow: 0 2px 5px rgb(240, 242, 245);
  
  
  }
  .navbar-search {
    font-size: 18px;
    width: 33vw;
    font-family: "Helvetica Neue", sans-serif;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(232, 232, 232);
    border: none;
    
  }
  .navbar-search-icon {
    margin-right: 7px;
    
  }
  
  .navbar-search:focus {
    
    border: none;
    outline: none;
  }
  
  
  
  .navbar-icon {
    background-color: transparent;
    border: none;
    height: 50px;
    width: 50px;
    cursor: pointer;
    color: rgb(79, 79, 79);
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
  }
  
  .navbar-icon:hover {
  
    transform: scale(1.5);
  }
  
  .navbar-icon svg {
    height: 25px;
    width: 25px;
  }
  
  .navbar-icon:focus {
    outline: none;
  }
  
  .navbar-icon-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
  
    overflow: visible;
  }