@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda&family=Poppins:wght@300&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins',sans-serif;
}

:root{
    --primary-color:rgb(214, 241, 251);
    --secondary-color:#D4B996FF;
}


body{
    background-color: var(--primary-color);
}


html{
    font-size: 95%;
}


.catalogueheader{
    min-height: 200px;
    position: relative;
    background-color: #142580;
    padding: 45px 16px;
    z-index: 3;
    border-bottom-left-radius: 100px;
    
  
}

.cataloguerow2{
        flex: 0 0 auto;
        color: white;
        text-align: center;
        margin-bottom: 30px;
}


.cataloguerow2 h2{
    font-size: 2.5rem;
    margin-top: 20px;
    margin-bottom: 15px;
}


.cataloguerow1 h1{
    flex: 0 0 auto;
    color: white;
    text-align: center;
    margin-bottom: 30px;
    font-size: 5rem;
    font-style:normal;

}

.cataloguesearch{
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.cataloguesearch input{
    outline: 0;
    border: 0;
    width: 600px;
    height: 60px;
    padding: 0 2.5rem;
    font-size: 15px;
    font-family: bold;   
    color: #2A265F;
    border-bottom-left-radius: 100px;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
    border-bottom-right-radius:100px;
}

.cataloguesearch button{
    outline: 0;
    border: 0;
    width: 65px;
    height: 55px;
    padding: 0 0.5rem;
    margin-left: -4.5rem;
    background-color: rgb(194, 180, 180);
    border-radius:100px;
    margin-bottom: 0.25rem;
}

.cataloguesearch button :hover{
    transform: scale(0.9);
    background-color: rgb(46, 115, 176);

}



.cataloguecoursecontainer{
    display:grid;
    grid-template-columns:700px 700px  ;
    grid-template-rows: 28rem;
    justify-content:center;

    
}

.cataloguecourseList{
    display:grid;
    justify-content:space-evenly;
    margin-top:3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
    margin-right: 2rem;
   
}


.cataloguecourse {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 90%;
	margin: 20px;
	overflow: hidden;
	width: 700px;
    transition: transform 150ms;
    
}

.cataloguecourse:hover{
    cursor:pointer;
    transform: translateY(-1rem);
    box-shadow: 0.5rem 0.75rem 1.5rem #b7b1b6;
    background-color: rgb(252, 253, 238);
    
    
    
}


.cataloguecourse h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
    margin-top: 10px;
}

.cataloguecourse h2 {
	letter-spacing: 1px;
	margin: 10px 0;
    margin-top: 20px;
}

.cataloguecourse-preview {
	background-color: #2A265F;
	color: #fff;
	padding: 30px;
	max-width: 300px;
    
    
}

.cataloguecourse-preview a {
	color: #fff;
	display: inline-block;
	font-size: 13.5px;
	opacity: 0.6;
	margin-top: 50px;
	text-decoration: none;
}

.cataloguecourseInstructor{
    margin-top: 2rem;
    font-size: 1.1rem;
    font-weight:lighter;
}

.cataloguecourse-info {
	padding: 30px;
	position:relative;
	width: 100%;
}

.cataloguecourseDescription{
    font-size: 0.95rem;
    margin-top:1rem;
    font-weight:bold;

}

.cataloguecourseDescription p{
    margin-top: 1rem;
    font-size: 11.8px;
}


.cataloguebtn {
	background-color: #70867a;
	border: 0;
	border-radius: 50px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 9px 18px;
	position: absolute;
	bottom: 20px;
	right: 20px;
	letter-spacing: 1px;
}

.back a button{
    
    margin-left: 85rem;
    background:white;
    font-size: 15px;
    cursor: pointer;
    border-radius: 15px;
    width: 8rem;
    
}

.back a button:hover{
    color:rgb(231, 54, 216);
}








