.about{
    text-align:start;
    margin:4rem 6rem;
}
.about h1{
    padding-bottom: 1rem;
}
.about p{
    padding-bottom: 2rem;
}
@media screen and (max-width:850px) {
    .about{
        margin:4rem 2rem;
    }
    
}
