.contact{
    margin:5.5rem 6rem;
    /* margin-top:2rem; */
    color:#2a2a2a;
    margin-left: 3rem;
   
}
.contact h1 {
    display: block;
    /* text-align: center; */
    font-size: 2rem;
    font-weight: bold;
  }
  .contact button {
    display: inline;
    border: 1px solid #151414;
    background-color: #a7c3d5;
    padding: 10px 20px;
    /* width:100px; */
    border-radius: 5px;
  }
.contact form{
    padding-top:3rem;
    display: flex;
    flex-direction: column;
    width:50%;
    margin:auto;
    /* animation: fadeOut 3s ease-in-out; */
    
}
.contact input{
    height:3rem;
    padding:0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border-color: 1px solid #000;
    /* border:solid black; */
    border: 1px solid #151414;
    /* animation: fadeOut 3s ease-in-out; */
}
.contact textarea{
    /* height:3rem; */
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border-color: 1px solid #000;
    /* border:solid black; */
    border: 1px solid #151414;
}
.contact button{
    display: inline;

}

@media screen and (max-width:850px) {
    
    .contact{
        margin:4rem 2rem;
       
    }
    .contact form{
        padding-top:2rem;
        width:90%;
    }
}
.radio-container {
    display: flex;
    align-items: center;
    /* border: #000; */
  }
  
  .radio-container input[type="radio"] {
    margin-right: 10px;
  }