.contact{
    margin:4rem 6rem;
    color:#2a2a2a;
    margin-left: 3rem;
}
.contact form{
    padding-top:3rem;
    display: flex;
    flex-direction: column;
    width:50%;
    margin:auto;
}
.contact input{
    height:3rem;
    padding:0 1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border-color: 1px solid #000;
}
.contact textarea{
    /* height:3rem; */
    padding:1rem;
    margin-bottom: 2rem;
    border-radius: .3rem;
    border-color: 1px solid #000;
}
.contact button{
    display: inline;

}
@media screen and (max-width:850px) {
    
    .contact{
        margin:4rem 2rem;
       
    }
    .contact form{
        padding-top:2rem;
        width:90%;
    }
}